body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
}

header {
    background: #0066cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #003366;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

#berita-container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.login-box {
    max-width: 300px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}